# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.cache


react_app/build/index.html
react_app/build/index.js
react_app/build/index.js.map 
atto_recitautolink.zip
src/react/package-lock.json
*.zip
