# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react_app/node_modules
/react_app/.cache


react_app/build/index.html
react_app/src/libs/components/css/canvas-content.css.map
react_app/src/libs/components/css/canvas-content.css
react_app/build/index.js
react_app/build/index.js.map
atto_reciteditor.zip
src/build/empty-hd.ac415ca5.jpg
src/build/empty.98bd7403.jpg
src/build/recit.bb33f696.png
